Flask==3.1.0
langchain==0.3.18
langchain_community==0.3.17
langchain_core==0.3.35
langchain_google_genai==2.0.9
langchain_pinecone==0.2.3
pinecone==6.0.1
python-dotenv==1.0.1
setuptools==75.8.0
